<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JuicySwapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JuicySwapper.Properties.Settings>
            <setting name="pakPath" serializeAs="String">
                <value />
            </setting>
            <setting name="current_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_skin_body" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_skin_head" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_pick_mesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_back_mesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_emote_mesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SparkleSpecialistEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconExpertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headhunterATEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamirezEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamirezAAEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="headhunterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BansheeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BansheeRenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BansheeTOEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WildcatEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sunbirdEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpitfireEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HawkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="candyaxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offset_temp" serializeAs="String">
                <value>11000000</value>
            </setting>
            <setting name="JuicyEAC1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BattleShroudEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DazzleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IronBeakEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkullySplitterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TatAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IronCageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeRaiderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SurvivalSpecialistEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GingerbreadRaiderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicAct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccVerify" serializeAs="String">
                <value>Free</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="EliteAgentEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="BrenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhoulOGEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RednoseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RrenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WildcatBlueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SirenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TravisEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrenegadeCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RrenegadeCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FNCSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrenegadeCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreemixEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SixStringEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InsigniaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StuddedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetBlaze" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pak_skin_body" serializeAs="String">
                <value />
            </setting>
            <setting name="pak_skin_head" serializeAs="String">
                <value />
            </setting>
            <setting name="pak_pick_mesh" serializeAs="String">
                <value />
            </setting>
            <setting name="pak_back_mesh" serializeAs="String">
                <value />
            </setting>
            <setting name="pak_emote_mesh" serializeAs="String">
                <value />
            </setting>
            <setting name="TAKEtLEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChickenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldDSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldFSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaidersRevengeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarwandEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarwandRSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GuandaoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoserfruitEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AxecaliburEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HarleyHitterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JitterbugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AerialAssaultTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossArmWaveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WildcatRSEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpectralSpineEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconSpecialistEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalaxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OctaneEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaySoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </JuicySwapper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.28.1.0" newVersion="0.28.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>