<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuicySwapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JuicySwapper.Properties.Settings>
            <setting name="pakPath" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="openfortnite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opendiscord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rpc" serializeAs="String">
                <value>Skins</value>
            </setting>
            <setting name="Exp" serializeAs="String">
                <value />
            </setting>
            <setting name="testoff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="testpak" serializeAs="String">
                <value />
            </setting>
            <setting name="current_offset" serializeAs="String">
                <value>0</value>
            </setting>
        </JuicySwapper.Properties.Settings>
    </userSettings>
</configuration>